@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MonoplexKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "MonoplexKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "MonoplexKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "MonoplexKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MonoplexKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "MonoplexKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "MonoplexKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "MonoplexKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Text.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

:root {
  --background: #ededed;
  --foreground: #171717;
  --y2k-purple: #7c4dff;
  --y2k-purple-deep: #7000ff;
  --y2k-purple-vivid: #b026ff;
  --y2k-magenta: #ff00e5;
  --y2k-magenta-vivid: #ff00ff;
  --y2k-chrome: #94a3b8;
  --y2k-silver: #c0c0c0;
  --y2k-black: #000000;
  --y2k-grey: #f0f0f0;
}

@layer base {
  body {
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    /* max-width: 1280px; */
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    min-height: 100vh;
  }
}

@layer utilities {
  .font-heading {
    font-family: "Orbitron", "Orbit", sans-serif;
    font-weight: bolder;
  }
  .font-monoplex {
    font-family:
      "MonoplexKR",
      monospace,
      system-ui,
      -apple-system,
      sans-serif;
  }
}
